main{
    display: grid;
    grid-template-columns: repeat(3, 1fr [col-start]);
}
.list_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid black;
    padding: 1rem;
}
.list_box:last-child{
    border-right:none;
}
.list_box p{
    font-size: 1.3rem;
    margin: 6px 0;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 600;
    font-family: sans-serif;
}
.buy_btn{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    color: #fff;
    background: cornflowerblue;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#congrat_box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    color: forestgreen;
    font-size: 1.4rem;
}
.history_btn.buy_btn{
    background: #9f1c1c;
    max-width: 300px;
    text-transform: capitalize;
    text-decoration: none;
}
.history{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 780px;
}
.history_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.history_box div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}
.history_box div:hover .product_item_text{
    color: rgba(43, 183, 7, 0.78);
    cursor: pointer;
}
.delete_h_item{
    display: flex;
    justify-content: center;
    max-width: 100px;
    padding: 0.4rem;
    background: red;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}
.delete_h_item:hover .product_item_text{
    color: #000;
}
.history_box div > p{
    margin: 0;
}
.hidden.product_info{
    display: none;
}
.product_info{
    display: flex;
}